<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- HTML Meta Tags -->
    <title>Eduardo José - Desenvolvedor Web</title>
    <meta name="description" content="Olá visitante! Primeiramente... seja muito bem vindo ao meu portifólio. Aqui conto um pouco sobre minha vivencia na area de desenvolvimento. Se sinta em casa! 😁">

    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="Eduardo José - Desenvolvedor Web">
    <meta itemprop="description" content="Olá visitante! Primeiramente... seja muito bem vindo ao meu portifólio. Aqui conto um pouco sobre minha vivencia na area de desenvolvimento. Se sinta em casa! 😁">
    <meta itemprop="image" content="https://repository-images.githubusercontent.com/418732910/a2ca7c30-ced2-46c2-ba50-385b5adf4248">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://eduardojsc18.github.io/my-portfolio/resources/view/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Eduardo José - Desenvolvedor Web">
    <meta property="og:description" content="Olá visitante! Primeiramente... seja muito bem vindo ao meu portifólio. Aqui conto um pouco sobre minha vivencia na area de desenvolvimento. Se sinta em casa! 😁">
    <meta property="og:image" content="https://repository-images.githubusercontent.com/418732910/a2ca7c30-ced2-46c2-ba50-385b5adf4248">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Eduardo José - Desenvolvedor Web">
    <meta name="twitter:description" content="Olá visitante! Primeiramente... seja muito bem vindo ao meu portifólio. Aqui conto um pouco sobre minha vivencia na area de desenvolvimento. Se sinta em casa! 😁">
    <meta name="twitter:image" content="https://repository-images.githubusercontent.com/418732910/a2ca7c30-ced2-46c2-ba50-385b5adf4248">


</head>
<body>

</body>
</html>
