<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- HTML Meta Tags -->
    <title>Eduardo José - Desenvolvedor Web</title>
    <link rel="shortcut icon" href="assets/img/favicon.ico" />
    <meta name="description" content="Olá visitante! Primeiramente... seja muito bem vindo ao meu portifólio. Aqui conto um pouco sobre minha vivencia na area de desenvolvimento. Se sinta em casa! 😁">

    <!-- COLOR BROWSER -->
    <meta name="theme-color" content="#DEE1E5">
    <meta name="msapplication-navbutton-color" content="#DEE1E5">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="Eduardo José - Desenvolvedor Web">
    <meta itemprop="description" content="Olá visitante! Primeiramente... seja muito bem vindo ao meu portifólio. Aqui conto um pouco sobre minha vivencia na area de desenvolvimento. Se sinta em casa! 😁">
    <meta itemprop="image" content="https://repository-images.githubusercontent.com/418732910/a2ca7c30-ced2-46c2-ba50-385b5adf4248">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://eduardojsc18.github.io/my-portfolio/resources/view/index.html">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Eduardo José - Desenvolvedor Web">
    <meta property="og:description" content="Olá visitante! Primeiramente... seja muito bem vindo ao meu portifólio. Aqui conto um pouco sobre minha vivencia na area de desenvolvimento. Se sinta em casa! 😁">
    <meta property="og:image" content="https://repository-images.githubusercontent.com/418732910/a2ca7c30-ced2-46c2-ba50-385b5adf4248">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Eduardo José - Desenvolvedor Web">
    <meta name="twitter:description" content="Olá visitante! Primeiramente... seja muito bem vindo ao meu portifólio. Aqui conto um pouco sobre minha vivencia na area de desenvolvimento. Se sinta em casa! 😁">
    <meta name="twitter:image" content="https://repository-images.githubusercontent.com/418732910/a2ca7c30-ced2-46c2-ba50-385b5adf4248">

    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body class="flex flex-col min-h-screen font-roboto bg-gray-100"
    x-data="{}"
    >

    <header class="z-50 fixed w-full"
        x-data="{openMenu: false, contact: false, scrollMenu: false}"
        @scroll.window="scrollMenu = window.pageYOffset > 100 "
        >

        <div class="container px-3 flex justify-end items-center">

            <nav class="px-3 py-2 mt-5 lg:mt-8 rounded-xl animate-ease-in-out "
                 :class="{'bg-gray-300 bg-opacity-50 backdrop-filter backdrop-blur-sm shadow-md hover:shadow-lg': scrollMenu}"
                >

                <ul class="w-full flex items-center justify-end gap-3 relative">

                    <li class="relative group">

                        <input class="hidden group-hover:block lg:block py-2 pl-3 pr-8 focus:w-full lg:focus:w-72 opacity-0 focus:opacity-100 lg:opacity-100 border border-gray-300 rounded-md text-sm outline-none focus:bg-gray-50 focus:border-gray-500 focus:shadow-md animate-ease-in-out"
                            :class="{'md:w-72 bg-gray-200': !scrollMenu, 'md:w-36 bg-gray-100': scrollMenu}"
                            type="search"
                            name=""
                            id="search"
                            placeholder="Pesquise aqui."
                            >

                        <label for="search" class="group-hover:absolute lg:absolute top-2 right-2 ">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 fill-current text-gray-500" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
                            </svg>
                        </label>

                    </li>

                    <li @mouseenter="contact = true" @mouseleave="contact = false">
                            <div class="z-10 w-10 h-10 relative cursor-pointer" >

                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 absolute top-2 left-2" viewBox="0 0 20 20" fill="currentColor"
                                    x-show="!contact"
                                    >
                                    <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z" />
                                    <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z" />
                                </svg>

                                <div class="absolute top-2 left-2"
                                    x-show="contact"
                                    x-cloak="hidden"
                                    >

                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 animate-ease-in-out" viewBox="0 0 20 20" fill="currentColor">
                                        <path fill-rule="evenodd" d="M2.94 6.412A2 2 0 002 8.108V16a2 2 0 002 2h12a2 2 0 002-2V8.108a2 2 0 00-.94-1.696l-6-3.75a2 2 0 00-2.12 0l-6 3.75zm2.615 2.423a1 1 0 10-1.11 1.664l5 3.333a1 1 0 001.11 0l5-3.333a1 1 0 00-1.11-1.664L10 11.798 5.555 8.835z" clip-rule="evenodd" />
                                    </svg>

                                    <div class="absolute bottom-0 -left-12 -mb-14 py-5">
                                        <div class=" bg-white bg-opacity-50 backdrop-filter backdrop-blur px-3 py-1 rounded-lg"
                                            x-show="contact"
                                            x-transition:enter="transition-all ease-in-out duration-200"
                                            x-transition:enter-start="opacity-0 transform -translate-y-1/2"
                                            x-transition:enter-end="opacity-100 transform translate-y-0"
                                            >
                                            <p class="whitespace-nowrap text-xs">
                                                Entrar em contato
                                            </p>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </li>

                    <li>

                        <button class="rounded-md w-10 h-10 relative"
                            :class="{'border shadow-md': !scrollMenu}"
                            @click="openMenu = !openMenu"
                            >

                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 absolute top-2 left-2" viewBox="0 0 20 20" fill="currentColor"
                                 x-show="!openMenu"
                                 x-transition:enter="transition-all ease-in-out duration-200"
                                 x-transition:enter-start="opacity-0 transform scale-0"
                                 x-transition:enter-end="opacity-100 transform scale-100"
                                 x-transition:leave="transition ease-in-out duration-200"
                                 x-transition:leave-start="opacity-100 transform scale-100"
                                 x-transition:leave-end="opacity-0 transform scale-0"
                            >
                                <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
                            </svg>

                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 absolute top-2 left-2" viewBox="0 0 20 20" fill="currentColor"
                                 x-show="openMenu"
                                 x-cloak="hidden"
                                 x-transition:enter="transition-all ease-in-out duration-200"
                                 x-transition:enter-start="opacity-0 transform scale-0"
                                 x-transition:enter-end="opacity-100 transform scale-100"
                                 x-transition:leave="transition ease-in-out duration-200"
                                 x-transition:leave-start="opacity-100 transform scale-100"
                                 x-transition:leave-end="opacity-0 transform scale-0"
                            >
                                <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
                            </svg>

                        </button>

                        <div class="absolute top-14 right-0 lg:right-0"
                            :class="{'-right-3 lg:-right-3': scrollMenu}"
                            x-show="openMenu"
                            x-transition:enter="transition-all ease-in-out duration-200"
                            x-transition:enter-start="opacity-0 transform translate-x-1/2"
                            x-transition:enter-end="opacity-100 transform translate-x-0"
                            x-transition:leave="transition-opacity ease-in-out duration-200"
                            x-transition:leave-start="opacity-100"
                            x-transition:leave-end="opacity-0"
                            x-cloak="hidden"
                            >
                            <div class="bg-white border border-gray-200 text-gray-800 rounded-lg shadow-md hover:shadow-lg w-300px animate-ease-in-out px-5 pt-6 space-y-3"
                                @click.away="openMenu = false"
                                >

                                <p class="font-light text-sm">Acesso rápido as categoria</p>

                                <ul class="space-y-1.5">
                                    <li class="group">
                                        <a class="flex items-center gap-2 border border-transparent hover:bg-gray-100 hover:shadow-md hover:border-gray-400 rounded-md overflow-hidden animate-ease-in-out" href="">

                                            <div class="text-xl bg-gray-100 w-9 h-9 rounded-md overflow-hidden flex justify-center items-center">
                                                <span class="group-hover:animate-wiggle">🧔🏻</span>
                                            </div>
                                            <p class="transform group-hover:translate-x-1 animate-ease-in-out">
                                                Cartão de visita
                                            </p>

                                        </a>
                                    </li>

                                    <li class="group">
                                        <a class="flex items-center gap-2 border border-transparent hover:bg-gray-100 hover:shadow-md hover:border-gray-400 rounded-md overflow-hidden animate-ease-in-out" href="">

                                            <div class="text-xl bg-gray-100 w-9 h-9 rounded-md overflow-hidden flex justify-center items-center">
                                                <span class="group-hover:animate-wiggle">🎓</span>
                                            </div>
                                            <p class="transform group-hover:translate-x-1 animate-ease-in-out">
                                                Minhas formações
                                            </p>

                                        </a>
                                    </li>

                                    <li class="group">
                                        <a class="flex items-center gap-2 border border-transparent hover:bg-gray-100 hover:shadow-md hover:border-gray-400 rounded-md overflow-hidden animate-ease-in-out" href="">

                                            <div class="text-xl bg-gray-100 w-9 h-9 rounded-md overflow-hidden flex justify-center items-center">
                                                <span class="group-hover:animate-wiggle">⚙</span>
                                            </div>
                                            <p class="transform group-hover:translate-x-1 animate-ease-in-out">
                                                Experiencia
                                            </p>

                                        </a>
                                    </li>

                                    <li class="group">
                                        <a class="flex items-center gap-2 border border-transparent hover:bg-gray-100 hover:shadow-md hover:border-gray-400 rounded-md overflow-hidden animate-ease-in-out" href="">

                                            <div class="text-xl bg-gray-100 w-9 h-9 rounded-md overflow-hidden flex justify-center items-center">
                                                <span class="group-hover:animate-wiggle">💡</span>
                                            </div>
                                            <p class="transform group-hover:translate-x-1 animate-ease-in-out">
                                                Projetos
                                            </p>

                                        </a>
                                    </li>

                                    <li class="group">
                                        <a class="flex items-center gap-2 border border-transparent hover:bg-gray-100 hover:shadow-md hover:border-gray-400 rounded-md overflow-hidden animate-ease-in-out" href="">

                                            <div class="text-xl bg-gray-100 w-9 h-9 rounded-md overflow-hidden flex justify-center items-center">
                                                <span class="group-hover:animate-wiggle">🎮</span>
                                            </div>
                                            <p class="transform group-hover:translate-x-1 animate-ease-in-out">
                                                Um pouco mais sobre mim
                                            </p>


                                        </a>
                                    </li>

                                </ul>

                                <div class="border-t py-3">

                                    <p class="font-light text-sm">Arquivos</p>

                                    <div class="group">
                                        <a class="flex items-center gap-2 border border-transparent  hover:shadow-md hover:border-gray-400 rounded-md animate-ease-in-out" href="">

                                            <div class="text-xl w-9 h-9 rounded-md flex justify-center items-center">
                                                <img class="w-5 h-5 group-hover:animate-wiggle filter drop-shadow-lg" src="assets/img/icons/download-cv.png" alt="">
                                            </div>
                                            <p class="transform group-hover:translate-x-1 animate-ease-in-out">
                                                Baixar currículo
                                            </p>

                                        </a>
                                    </div>



                                </div>

                            </div>
                        </div>

                    </li>

                </ul>

            </nav>
            
        </div>


    </header>

    <main class="flex flex-col flex-grow">

        <section class="container z-10 pt-20 lg:pt-28 pb-10">
            <div class="py-8 lg:py-16 bg-gray-100 lg:hover:shadow-lg lg:hover:bg-white transform lg:hover:-translate-y-1 rounded-3xl bg-opacity-50 backdrop-filter backdrop-blur-3xl animate-ease-in-out">
                <div class="grid md:grid-cols-2 gap-x-5 gap-y-16">

                    <div class="mx-auto w-5/6 lg:w-400px relative">

                        <div class="z-10 animate-shape-perfil shadow-md overflow-hidden aspect-h-1 aspect-w-1">
                            <img class="" src="../img/perfil/00100sPORTRAIT_00100_BURST20200711152721154_COVER-01%20(2).jpg" alt="">
                        </div>

                        <div class="absolute transform scale-110 top-0 left-0 w-full h-full bg-gradient-to-br from-gray-100 to-gray-300 animate-gradient-xy animate-shape-background-perfil"> </div>

                    </div>

                    <div class="xl:w-5/6 px-10 lg:pl-0 xl:p-5 flex flex-col justify-center text-gray-600 transform lg:hover:scale-105 animate-ease-in-out"
                        x-data="{showScroll: false}"
                        x-intersect="showScroll = true"
                        >

                        <p class="font-extrabold text-gray-600 uppercase"
                            x-show="showScroll"
                            x-cloak="hidden"
                            x-transition:enter="transition-all ease-in-out duration-200 "
                            x-transition:enter-start="opacity-0 transform -translate-y-full md:translate-y-0 md:-translate-x-1/3"
                            x-transition:enter-end="opacity-100 transform translate-y-0 md:translate-x-0"
                            >
                            Seja Bem-vindo! <span class="font-normal normal-case">Me chamo</span>
                        </p>

                        <h1 class="text-4xl lg:text-6xl font-bold uppercase text-red-900 -ml-0.5 my-5 "
                            x-show="showScroll"
                            x-cloak="hidden"
                            x-transition:enter="transition-all ease-in-out duration-500 delay-200 "
                            x-transition:enter-start="opacity-0 transform -translate-y-full md:translate-y-0 md:-translate-x-1/3"
                            x-transition:enter-end="opacity-100 transform translate-y-0 md:translate-x-0"
                            >
                            Eduardo José
                        </h1>

                        <div class="grid gap-3">

                            <p class="text-sm md:text-base text-gray-800"
                               x-show="showScroll"
                               x-cloak="hidden"
                               x-transition:enter="transition-all ease-in-out duration-500 delay-500"
                               x-transition:enter-start="opacity-0 transform -translate-y-full md:translate-y-0 md:-translate-y-1/3"
                               x-transition:enter-end="opacity-100 transform translate-y-0 md:translate-x-0"
                            >
                                Sou formado em <span class="font-semibold">Análise e Desenvolvimento de Sistemas</span>. Atuando no momento na área de desenvolvimento WEB, possuo 1 ano de experiência e...
                            </p>

                            <div class="flex items-center justify-start gap-3 text-gray-400"
                                 x-show="showScroll"
                                 x-cloak="hidden"
                                 x-transition:enter="transition-all ease-in-out duration-500 delay-700"
                                 x-transition:enter-start="opacity-0 transform -translate-y-full md:translate-y-0 md:-translate-y-1/3"
                                 x-transition:enter-end="opacity-100 transform translate-y-0 md:translate-x-0"
                            >
                                <a href="#">
                                    <svg class="w-8 h-8 fill-current transform hover:scale-105 hover:text-social-linkedin animate-ease-in-out" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"/></svg>
                                </a>
                                <a href="#">
                                    <svg class="w-8 h-8 fill-current transform hover:scale-105 hover:text-social-twitter animate-ease-in-out" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-.139 9.237c.209 4.617-3.234 9.765-9.33 9.765-1.854 0-3.579-.543-5.032-1.475 1.742.205 3.48-.278 4.86-1.359-1.437-.027-2.649-.976-3.066-2.28.515.098 1.021.069 1.482-.056-1.579-.317-2.668-1.739-2.633-3.26.442.246.949.394 1.486.411-1.461-.977-1.875-2.907-1.016-4.383 1.619 1.986 4.038 3.293 6.766 3.43-.479-2.053 1.08-4.03 3.199-4.03.943 0 1.797.398 2.395 1.037.748-.147 1.451-.42 2.086-.796-.246.767-.766 1.41-1.443 1.816.664-.08 1.297-.256 1.885-.517-.439.656-.996 1.234-1.639 1.697z"/></svg>
                                </a>
                                <a href="#">
                                    <svg class="w-8 h-8 fill-current transform hover:scale-105 hover:text-social-github animate-ease-in-out" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-4.466 19.59c-.405.078-.534-.171-.534-.384v-2.195c0-.747-.262-1.233-.55-1.481 1.782-.198 3.654-.875 3.654-3.947 0-.874-.312-1.588-.823-2.147.082-.202.356-1.016-.079-2.117 0 0-.671-.215-2.198.82-.64-.18-1.324-.267-2.004-.271-.68.003-1.364.091-2.003.269-1.528-1.035-2.2-.82-2.2-.82-.434 1.102-.16 1.915-.077 2.118-.512.56-.824 1.273-.824 2.147 0 3.064 1.867 3.751 3.645 3.954-.229.2-.436.552-.508 1.07-.457.204-1.614.557-2.328-.666 0 0-.423-.768-1.227-.825 0 0-.78-.01-.055.487 0 0 .525.246.889 1.17 0 0 .463 1.428 2.688.944v1.489c0 .211-.129.459-.528.385-3.18-1.057-5.472-4.056-5.472-7.59 0-4.419 3.582-8 8-8s8 3.581 8 8c0 3.533-2.289 6.531-5.466 7.59z"/></svg>
                                </a>
                                <button class="group bg-gray-400 hover:bg-yellow-500 rounded-lg p-1 overflow-hidden relative flex items-center gap-2 animate-ease-in-out text-white lg:animate-wiggle hover:animate-none ">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="group-hover:hidden h-6 w-6 fill-current " viewBox="0 0 20 20" fill="currentColor">
                                        <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z" />
                                        <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z" />
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="hidden group-hover:block h-6 w-6 fill-current animate-ease-in-out" viewBox="0 0 20 20" fill="currentColor">
                                        <path fill-rule="evenodd" d="M2.94 6.412A2 2 0 002 8.108V16a2 2 0 002 2h12a2 2 0 002-2V8.108a2 2 0 00-.94-1.696l-6-3.75a2 2 0 00-2.12 0l-6 3.75zm2.615 2.423a1 1 0 10-1.11 1.664l5 3.333a1 1 0 001.11 0l5-3.333a1 1 0 00-1.11-1.664L10 11.798 5.555 8.835z" clip-rule="evenodd" />
                                    </svg>
                                    <span class="text-sm mr-1 z-0 lg:hidden lg:group-hover:block">
                                        Entrar em contato
                                    </span>
                                </button>

                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </section>

        <div class="bg-gray-50 relative">

            <div class="absolute top-0 w-full">
                <svg class="transform lg:scale-y-25 lg:-mt-24 xl:-mt-40 filter drop-shadow-xl" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#F3F4F6" fill-opacity="1" d="M0,64L60,101.3C120,139,240,213,360,218.7C480,224,600,160,720,160C840,160,960,224,1080,256C1200,288,1320,288,1380,288L1440,288L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path></svg>
            </div>

            <section class="container px-7 py-36 lg:px-0"
                 x-data="{showScroll: false}"
                 x-intersect.full="showScroll = true"
                >
                <div class="lg:w-2/4 mx-auto grid gap-y-16">

                    <h2 class="text-center text-4xl font-bold uppercase text-red-900"
                        x-show="showScroll"
                        x-cloak="hidden"
                        x-transition:enter="transition-all ease-in-out duration-500"
                        x-transition:enter-start="opacity-0 transform -translate-y-full"
                        x-transition:enter-end="opacity-100 transform translate-y-0"
                        >
                        Formação
                    </h2>

                    <div class="grid gap-y-5">

                        <div class="group py-10 px-5 rounded-3xl flex flex-col lg:flex-row items-center justify-center gap-5 transform hover:scale-105 hover:bg-white hover:shadow-md animate-ease-in-out"
                             x-show="showScroll"
                             x-cloak="hidden"
                             x-transition:enter="transition-all ease-in-out duration-500 delay-300"
                             x-transition:enter-start="opacity-0 transform -translate-y-1/2"
                             x-transition:enter-end="opacity-100 transform translate-y-0"
                            >

                            <img class="group-hover:animate-shake w-20 h-20" width="80" height="80" src="assets/img/icons/application.png" alt="">

                            <div class="grid gap-y-2">
                                <p class="text-sm">Primeiro contato na área veio através do técnico em</p>
                                <p class="font-bold text-2xl text-gray-800">Informática para Internet</p>
                                <p class="font-light">Finalizado em Junho de 2014, na ETEC - Santa Isabel</p>
                            </div>

                        </div>

                        <div class="group py-10 px-5 rounded-3xl flex flex-col lg:flex-row items-center justify-center gap-5 transform hover:scale-105 hover:bg-white hover:shadow-md animate-ease-in-out"
                             x-show="showScroll"
                             x-cloak="hidden"
                             x-transition:enter="transition-all ease-in-out duration-500 delay-300"
                             x-transition:enter-start="opacity-0 transform -translate-y-1/2"
                             x-transition:enter-end="opacity-100 transform translate-y-0"
                            >

                            <img class="group-hover:animate-shake w-20 h-20" width="80" height="80" src="assets/img/icons/student.png" alt="">

                            <div class="grid gap-y-2">
                                <p class="text-sm">Após ficar encantado com a área 🥰 segui minha formação com o tecnólogo </p>
                                <p class="font-bold text-2xl text-gray-800">Análise e Desenvolvimento de Sistemas</p>
                                <p class="font-light">Finalizado em Dezembro de 2018, na Universidade Nove de Julho</p>
                            </div>

                        </div>

                    </div>

                </div>
            </section>

        </div>

    </main>

    <footer class="px-3">
        <div class="container px-3 py-5 text-gray-800 space-y-3 relative group">

            <div class="flex items-center justify-center gap-3">
                <a href="#">
                    <svg class="w-5 h-5 fill-current transform hover:scale-150 hover:text-social-linkedin animate-ease-in-out" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"/></svg>
                </a>
                <a href="#">
                    <svg class="w-5 h-5 fill-current transform hover:scale-150 hover:text-social-twitter animate-ease-in-out" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-.139 9.237c.209 4.617-3.234 9.765-9.33 9.765-1.854 0-3.579-.543-5.032-1.475 1.742.205 3.48-.278 4.86-1.359-1.437-.027-2.649-.976-3.066-2.28.515.098 1.021.069 1.482-.056-1.579-.317-2.668-1.739-2.633-3.26.442.246.949.394 1.486.411-1.461-.977-1.875-2.907-1.016-4.383 1.619 1.986 4.038 3.293 6.766 3.43-.479-2.053 1.08-4.03 3.199-4.03.943 0 1.797.398 2.395 1.037.748-.147 1.451-.42 2.086-.796-.246.767-.766 1.41-1.443 1.816.664-.08 1.297-.256 1.885-.517-.439.656-.996 1.234-1.639 1.697z"/></svg>
                </a>
                <a href="#">
                    <svg class="w-5 h-5 fill-current transform hover:scale-150 hover:text-social-github animate-ease-in-out" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-4.466 19.59c-.405.078-.534-.171-.534-.384v-2.195c0-.747-.262-1.233-.55-1.481 1.782-.198 3.654-.875 3.654-3.947 0-.874-.312-1.588-.823-2.147.082-.202.356-1.016-.079-2.117 0 0-.671-.215-2.198.82-.64-.18-1.324-.267-2.004-.271-.68.003-1.364.091-2.003.269-1.528-1.035-2.2-.82-2.2-.82-.434 1.102-.16 1.915-.077 2.118-.512.56-.824 1.273-.824 2.147 0 3.064 1.867 3.751 3.645 3.954-.229.2-.436.552-.508 1.07-.457.204-1.614.557-2.328-.666 0 0-.423-.768-1.227-.825 0 0-.78-.01-.055.487 0 0 .525.246.889 1.17 0 0 .463 1.428 2.688.944v1.489c0 .211-.129.459-.528.385-3.18-1.057-5.472-4.056-5.472-7.59 0-4.419 3.582-8 8-8s8 3.581 8 8c0 3.533-2.289 6.531-5.466 7.59z"/></svg>
                </a>
            </div>

            <div class="text-center flex items-center justify-center gap-2">
                Desenvolvido com muito amor <div class="group-hover:text-red-500 transform group-hover:scale-110 animate-ease-in-out">❤</div>
            </div>

        </div>
    </footer>

    <!-- Alpine Plugins -->
    <script defer src="https://unpkg.com/@alpinejs/intersect@3.x.x/dist/cdn.min.js"></script>
    <!-- Alpine Core -->
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>

</body>
</html>
